@font-face {
    font-family: 'digital';
    font-weight: 'bold';
    src: url('./fonts/Orloj-Ea9eW.otf') format('woff');
}

.App {
   border: 1px solid black;
   border-radius: .3rem;
   padding: .8rem;
   min-width:10%;
   max-width:12%;
   margin:auto; 
   overflow:hidden;
   background-color: black;
   font-family:'digital';
   color:red;
   font-size:3rem;
}

.ButtonStyle {
    min-width:100%;
    width:100%;
    height:2rem;
}

.TimerStyle {
    min-width:100%;
    width:100%;
    text-align:center;
}
